<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <h1>Hello, Twitter Bootstrap</h1>


	<div id="main-container" class="container">
		<div class="row">
			<div class="col-xs-3">
				<h3>My To-dos</h3>
					<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
